@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Pedidos";
}

@model List<CraftworkManager.Models.Order>

<h1>Todos os Pedidos Abertos</h1>
<span>A lista não inclui pedidos enviados ou cancelados.</span>
<a asp-controller="Orders" asp-action="Add" class="btn btn-primary">Novo Pedido</a>


<table class="table">
    <thead>
        <tr>
            <th>Status</th>
            <th>Descrição</th>
            <th>Data do Pedido</th>
            <th>Prazo</th>
            <th>Cliente</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Status</td>
                <td>@order.getSmallDescription()</td>
                <td>@order.CreatedOn.ToString("dd/MM/yyyy")</td>
                <td>@order.DeadlineOn.Value.ToString("dd/MM/yyyy")</td>
                <td>@order.ClientName</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Orders" asp-action="Edit" asp-route-id="@order.Id">Visualizar</a>
                    
                    @if (order.Status == OrderStatus.InProduction)
                    {
                        <form asp-controller="Orders" asp-action="ChangeStatus" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@order.Id" />
                            <input type="hidden" name="status" value="@OrderStatus.Paused" />
                            <button type="submit" class="btn btn-warning">Pausar</button>
                        </form>
                        <form asp-controller="Orders" asp-action="ChangeStatus" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@order.Id" />
                            <input type="hidden" name="status" value="@OrderStatus.ReadyToShip" />
                            <button type="submit" class="btn btn-success">Finalizar Produção</button>
                        </form>
                    }
                    @if (order.Status == OrderStatus.Pending)
                    {
                        <form asp-controller="Orders" asp-action="ChangeStatus" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@order.Id" />
                            <input type="hidden" name="status" value="@OrderStatus.InProduction" />
                            <button type="submit" class="btn btn-success">Enviar para Produção</button>
                        </form>
                    }
                    @if (order.Status == OrderStatus.ReadyToShip)
                    {
                        <form asp-controller="Orders" asp-action="ChangeStatus" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@order.Id" />
                            <input type="hidden" name="status" value="@OrderStatus.Shipped" />
                            <button type="submit" class="btn btn-success">Enviar Pedido</button>
                        </form>
                    }
                    @if (order.Status == OrderStatus.Paused)
                    {
                        <form asp-controller="Orders" asp-action="ChangeStatus" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@order.Id" />
                            <input type="hidden" name="status" value="@OrderStatus.InProduction" />
                            <button type="submit" class="btn btn-success">Enviar para Produção</button>
                        </form>
                        <form asp-controller="Orders" asp-action="ChangeStatus" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@order.Id" />
                            <input type="hidden" name="status" value="@OrderStatus.Pending" />
                            <button type="submit" class="btn btn-success">Tornar Pendente</button>
                        </form>
                    }

                    <form asp-controller="Orders" asp-action="ChangeStatus" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@order.Id" />
                        <input type="hidden" name="status" value="@OrderStatus.Cancelled" />
                        <button type="submit" class="btn btn-danger">Cancelar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
